/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	margin: 0 auto;
	width: 900px;
}
nav {
	/* margin-top: 20px; */
	background-color: rgba(135,206,250,0.7);
	padding-bottom: 20px;
	display: inline-block;
	position: fixed;
	width: 900px;
	z-index: 1;
	border-radius: 10px;
}
nav a{
	padding-right: 7%;
	color: grey;
	opacity: 0.8;
	text-decoration: none;
	display: inline-block;
	padding-top: 20px;
}
.logo{
	position: absolute;
	top: 10px;
	left: 715px;
}
/* End of top  */

header {
	/* position: relative;
	height: 500px; */
	display: inline-block;
	height: 550px;
}

.codeSnip {
	/* position: absolute;
	left: 57%;
	bottom: 5%; */
	width: 385px;
	margin-left: 500px;
	margin-top: -500px;
}

.innovation {
	font-size: 75px;
	text-align: center;
	/* position: absolute;
	top: 26%;
	left: 10%; */
	width: 200px;
	margin-top: 200px;
	margin-left: 100px;
}

button {
	/* position: absolute;
	top: 80%;
	left: 18%; */
	background-color: white;
	padding: 6px 45px;
	width: 300x;
	margin-left: 120px;
	margin-top: 5px;
}

/* Middle Section */
.topContent {
	border-top: 1px solid black;
	/* position: relative;
	height: 100px;
	margin-top: 40px;
	margin-bottom: 60px;
	padding-top: 30px; */
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 60px;
	padding-top: 30px;
}
.features {
	/* position: absolute;
	width: 450px; */
	display: inline-block;
	width: 445px;
	margin-right: 5px;
}
.about {
	/* box-sizing: border-box;
	position: absolute;
	width: 450px;
	left: 475px; */
	display: inline-block;
	width: 445px;
}

.middle-img {
	width: 100%;
}

/* Bottom Content */

.bottomContent {
	border-bottom: 1px solid black;

	/* position: relative;
	height: 175px; */
	margin-top: 40px;
	margin-bottom: 40px;
	display: inline-block;
	height: 175px;
}
.services {
	width: 290px;
	display: inline-block;
	margin-right: 12px;
}
.products {
	width: 290px;
	/* position: absolute;
	left: 300px;
	top: 0; */
	display: inline-block;
	margin-right: 10px;
}
.vision {
	width: 290px;
	/* left: 609px;
	top: 0;
	position: absolute; */
	display: inline-block;
}

/* contact section */

.number {
	display: inline-block;
	margin: 20px 0;
}

/* footer */

footer {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}